### Loading DataFrame

In [134]:
import pandas as pd

In [96]:
data=pd.read_csv('Corona_NLP_train.csv',encoding='Latin')

In [97]:
data.head(10)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
7,3806,48758,Austria,16-03-2020,Was at the supermarket today. Didn't buy toile...,Neutral
8,3807,48759,"Atlanta, GA USA",16-03-2020,Due to COVID-19 our retail store and classroom...,Positive
9,3808,48760,"BHAVNAGAR,GUJRAT",16-03-2020,"For corona prevention,we should stop to buy th...",Negative

In [98]:
data=data.iloc[:,4:]
data

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
41152  Airline pilots offering to stock supermarket s...             Neutral
41153  Response to complaint not provided citing COVI...  Extremely Negative
41154  You know itÂs getting tough when @KameronWild...            Positive
41155  Is it wrong that the smell of hand sanitizer i...             Neutral
41156  @TartiiCat Well new/used Rift S are going for ...            Negative

[41157 rows x 2 columns]

In [101]:
df=data.iloc[0:20000]
df

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
19995  Something I never thought IÂd hear in a newsr...             Neutral
19996  @NEWSTALK1010 #NO #PHOTO=#CENSORED by #TWITTER...            Negative
19997  Due to #COVID19 situation, demand of hand sani...  Extremely Positive
19998  The spread of COVID-19 has had a tremendous im...  Extremely Positive
19999  @barri_ismail @htTweets Don't you understand t...  Extremely Negative

[20000 rows x 2 columns]

                                           OriginalTweet           Sentiment
21000  Following @BBVA_USA's initial offers last week...  Extremely Negative

In [102]:
df.isnull().sum()

OriginalTweet    0
Sentiment        0
dtype: int64

In [103]:
df.shape

(20000, 2)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OriginalTweet  20000 non-null  object
 1   Sentiment      20000 non-null  object
dtypes: object(2)
memory usage: 312.6+ KB

In [105]:
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
stem=PorterStemmer()
wordlematize=WordNetLemmatizer()

[nltk_data] Downloading package stopwords to C:\Users\Ali-
[nltk_data]     amjad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Ali-
[nltk_data]     amjad\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [106]:
df

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
19995  Something I never thought IÂd hear in a newsr...             Neutral
19996  @NEWSTALK1010 #NO #PHOTO=#CENSORED by #TWITTER...            Negative
19997  Due to #COVID19 situation, demand of hand sani...  Extremely Positive
19998  The spread of COVID-19 has had a tremendous im...  Extremely Positive
19999  @barri_ismail @htTweets Don't you understand t...  Extremely Negative

[20000 rows x 2 columns]

In [107]:
def clean_text(sentence):
    cleaned_sentence=[]
    for i in range(0,len(sentence)):
        text=re.sub('[^a-zA-Z]',' ',sentence['OriginalTweet'][i])
        text=text.lower()
        text=text.split()
        
        text=[stem.stem(word) for word in text if not word in stopwords.words('english')]
        text=' '.join(text)
        cleaned_sentence.append(text)
    
    return cleaned_sentence

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tf_id=TfidfVectorizer()
X=tf_id.fit_transform(clean_text(df)).toarray()

In [109]:
import numpy as np
X = X.astype(np.float32)

In [112]:
y=[1 if val=='Positive' else 1 if val=='Extremely Positive' else 2 if val=='Negative' else 2 if val=='Extremely Negative' else 3 for val in df['Sentiment']]

In [35]:
X.shape

(41157, 69224)

In [119]:
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=42)

In [120]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\Ali-amjad\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [123]:
predictions=model.predict(x_test)

In [124]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,predictions)

0.7733333333333333

In [125]:
confusion_matrix(y_test,predictions)

array([[1061,  158,   50],
       [ 169,  991,   46],
       [ 136,  121,  268]], dtype=int64)

**Make Predictions**

In [126]:
def clean_text(sentence):
    cleaned_sentence=[]
    
    text=re.sub('[^a-zA-Z]',' ',sentence)
    text=text.lower()
    text=text.split()
        
    text=[stem.stem(word) for word in text if not word in stopwords.words('english')]
    text=' '.join(text)
    cleaned_sentence.append(text)
    
    return cleaned_sentence

In [131]:
sentence="Can you plz share results of covid?"

In [132]:
text=tf_id.transform(clean_text(sentence))

In [133]:
if model.predict(text)[0]==0:
    print('positive')
elif model.predict(text)[0]==1:
    print('neutral')
else:
    print('negative')

neutral